<launch>
 <include file="$(find internet)/launch/prog.launch" />
 <include file="$(find telemetry)/launch/prog.launch" />
 <include file="$(find pathplan)/launch/prog.launch" />
 <include file="$(find drone_handler)/launch/prog.launch"/>
 <include file="$(find drone_monitor)/launch/prog.launch" />
 <!-- include file="$(find gcs)/launch/prog.launch"/ -->
</launch>
