<launch>
 <include file="$(find internet)/launch/prog.launch" />
 <include file="$(find telemetry)/launch/prog.launch" />
 <include file="$(find pathplan)/launch/prog.launch" />
 <include file="$(find drone_handler)/launch/prog.launch"/>
 <include file="$(find drone_monitor)/launch/prog.launch" />
 <!--include file="$(find gcs)/launch/prog.launch"/-->
 <include file="$(find node_monitor)/launch/prog.launch" />
 <include file="$(find utm_parser)/launch/prog.launch" />
 <!--include file="$(find drone_decon)/launch/prog.launch" /-->
<include file="$(find visualization)/launch/prog.launch" />
</launch>
